.result {
  height: 120px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
  text-align: right;
}

.disclaimer {
  font-size: 16px;
  text-align: left;
  margin-top: 50px;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  font-family: 'Happy Monkey', cursive;
  text-align: center;
  font-size: 45px;
  margin-top: 20px;
}

a {
  color: #000;
}

a:hover {
  opacity: 0.7;
}

.container {
  max-width: 800px;
  padding: 10px;
  margin: auto;
}

.calculator-body {
  max-width: 800px;
}

.language {
  width: 150px;
  background-color: #ffd6c9;
  border-radius: 10px;
  opacity: 0.9;
  font-size: 22px;
  margin-bottom: 5px;
}

.language:hover {
  opacity: 1;
}

.selectedlanguage {
  width: 150px;
  background-color: #ff8e6b;
  border-radius: 10px;
  opacity: 0.9;
  font-size: 22px;
  margin-bottom: 5px;
}

.selectedlanguage:hover {
  opacity: 1;
}

.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 40%;
  height: 70px;
  font-size: 24px;
  border-radius: 0px;
  border: 1px solid #6b6b6b;
  opacity: 1;
  background-color: #ebebeb;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  opacity: 0.9;
  border: 1px solid #292929;
}

button:disabled {
  opacity: 0.65;
  border: 1px solid #a1a1a1;
}

button:disabled:hover {
  opacity: 0.65;
}

.fnButton {
  width: 20%;
  background-color: #ffd591;
}

button:focus {
  outline: none;
  border: 2px solid #303030;
}

@media screen and (max-width: 600px) {
   button {
     font-size: 15px;
     line-height: 1;
   }

   .result p {
     font-size: 28px;
   }

   .language {
     font-size: 18px;
   }

   .selectedlanguage {
     font-size: 18px;
   }

   h1 {
     font-size: 40px;
   }
}
